<%= stylesheet_link_tag "static_pages" %>

<%if current_user.profesor? %>
  <h1 id="welcome">Bienvenido Profesor <%=current_user.last_name%></h1>
<%elsif current_user.estudiante?%>
  <h1 id="welcome">Bienvenido Alumno</h1>
<%else%>
  <h1 id="welcome">Bienvenido Admin <%=current_user.last_name%> </h1>
<%end%>

<h2><%= link_to 'Crea tu Nuevo Proyecto<i class="fa fa-plus-circle" aria-hidden="true"></i>'.html_safe, new_proyecto_session_path,:class => 'btn btn-primary btn-lg'  %></h2>
