<div class="container">
  <h1>Nuevo Estudiante</h1>

  <%= render 'form', proyecto: @proyecto, estudiante: @estudiante %>
  <%= link_to 'Regresar', proyecto_estudiantes_path, :class => 'btn btn-default' %>

</div>
